<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>proletarian revolution</title>
  <link rel="stylesheet" href="./style.css">
  <script src="./libs/vue@3.4.15.min.js"></script>
  <script src="./utils.js"></script>
</head>

<body>
  <div id="app">
    <div class="app-box-bg"></div>
    <div class="app-box">
      <header>
        <div class="header-box">
          <h1>无 产 阶 级 必 胜</h1>
          <p>守护本该属于我们的工人权益</p>
      </header>
      <nav>
        <a :class="getNavTabClass('story')" @click="onTabClick('story')">革命的前行者</a>
        <a :class="getNavTabClass('tutorial')" @click="onTabClick('tutorial')">敌人的诡计</a>
        <a :class="getNavTabClass('regulation')" @click="onTabClick('regulation')">法律条文</a>
      </nav>
      <div class="content-box">
        <div v-if="activeTab === 'story'" class="story-box">
          <a v-for="(item, index) of storys" :key="index" class="story-item" :href="item.url" target="_blank">
            <div class="story-item-l">
              <img :src="item.thumbnail" />
            </div>
            <div class="story-item-r">
              <h3>{{item.label}}</h3>
              <p>{{item.desc}}</p>
            </div>
          </a>
        </div>
        <div v-else-if="activeTab === 'regulation'" class="regulations-box">
          <h2>国家法律</h2>
          <a v-for="(item, index) of countryRegulations" :key="index" class="link-box" :href="item.url" target="_blank">
            <h3>{{item.label}}</h3>
            <p>{{item.desc}}</p>
          </a>

          <h2>地方法律</h2>
          <a v-for="(item, index) of localRegulations" :key="index" class="link-box" :href="item.url" target="_blank">
            <h3>{{item.label}}</h3>
            <p>{{item.desc}}</p>
          </a>
        </div>
        <div v-else-if="activeTab === 'tutorial'" class="tutorial-box">
          此页列举敌人用到的各种手段
        </div>
      </div>
    </div>
  </div>
</body>
<script src="./script.js"></script>

</html>