@import url(./base.css);

.app-box {
  max-width: 90rem;
  margin: 0 auto;
  z-index: 99;
  position: relative;
}

.app-box-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 36rem;
  background-color: var(--color-primary);
  z-index: 1;
  /* background-image: url(./static/logo.png); */
  background-position: right bottom;
  background-size: 40rem;
  background-repeat: no-repeat;
  background-blend-mode:  luminosity;
}

header {
  height: 36rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.8rem;
}

.header-box h1 {
  font-size: 3.6rem;
  text-align: center;
}

nav {
  position: sticky;
  top: 0;
  height: 6rem;
  display: flex;
  align-items: center;
  background-color: white;
  /* background-color: yellowgreen; */
  gap: 2rem;
  font-size: 1.8rem;
  padding: 0 1.6rem;
}

nav a {
  cursor: pointer;
}

nav a:hover {
  color: var(--color-primary);
}

.nav-item-active {
  color: var(--color-primary);
  border-bottom: 0.1rem solid var(--color-primary);
}

.content-box {
  padding: 0 1.6rem 4rem 1.6rem;
}

.story-box {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.story-item {
  display: flex;
  padding: 0.8rem;
  gap: 20px;
  cursor: pointer;
}

.story-item:hover {
  background-color: #fafafa;
  color: var(--color-primary);
}

.story-item-l {
  width: 14rem;
  height: 12rem;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: 0.1rem solid #f3f3f3;
}

.story-item-l img {
  width: 100%;
}

.story-item-r {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.story-item-r p {
  font-size: 1.4rem;
  color: #666;
  flex: 1;
  overflow: hidden;
}

.link-box {
  border-radius: 0.4rem;
  cursor: pointer;
  padding: 0.8rem 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.link-box:hover {
  box-shadow: 0 0 1rem 0.4rem #eee;
}

.link-box p {
  font-size: 1.4rem;
  color: #666;
}

.regulations-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.regulations-box h2 {
  color: var(--color-primary);
}