@import url(./base.css);

header {
  background-color: var(--color-primary);
  height: 36rem;
  width: 100vw;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-box h1 {
  font-size: 3.6rem;
  text-align: center;
}

.header-box .search-box {
  height: 48px;
  display: flex;
  width: 70rem;
  border-radius: 0.8rem;
  overflow: hidden;
  margin: 2.8rem 0 1.2rem 0;
}

.header-box .search-box input {
  outline: none;
  border: none;
  padding: 8px;
  flex: 1;
}

.header-box .search-box button {
  width: 100px;
  border: none;
  cursor: pointer;
  background-color: #eee;
}

.header-box .search-box button:hover {
  background-color: #ccc;
}

.hot-box {
  display: flex;
  max-width: 70rem;
}

.hot-box a {
  color: #fff;
}

.hot-box a:hover {
  color: #ccc;
}

.hot-box ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
  flex: 1;
}

.regulations-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.regulations-box h2 {
  color: var(--color-primary);
}

.link-box {
  border-radius: 4px;
  cursor: pointer;
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.link-box:hover {
  box-shadow: 0 0 1rem 0.4rem #eee;
}

.link-box p {
  font-size: 1.4rem;
  color: #666;
}

nav {
  position: sticky;
  top: 0;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white
}

.nav-box {
  min-width: 90rem;
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 2rem;
}

.nav-box a {
  cursor: pointer;
}

.nav-box a:hover {
  color: var(--color-primary);
}

.nav-item-active {
  color: var(--color-primary);
  border-bottom: 0.1rem solid var(--color-primary);
}

.content-box {
  width: 90rem;
  margin: 0 auto 2rem auto;
}

.story-item {
  /* background-color: yellowgreen; */
  display: flex;
  padding: 0.8rem;
  gap: 20px;
  cursor: pointer;
}

.story-item:hover {
  background-color: #fafafa;
  color: var(--color-primary);
}

.story-item-l {
  width: 14rem;
  height: 12rem;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: 0.1rem solid #eee;
}

.story-item-l img {
  width: 100%;
}

.story-item-r {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.story-item-r p {
  font-size: 1.4rem;
  color: #666;
  flex: 1;
  overflow: hidden;
}